* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #274472;
    --blue-gray: #5885AF;
    --midnight-blue: #41729F;
    --baby-blue: #C3E0E5;
    --m-yellow: #ffa62b;
    --m-orange: #db6400;
    --m-blue: #16697a;
    --m-light: #f8f1f1;
    --blue-gray-light: rgba(88, 133, 175, .7);
    --m-yellow-light: rgba(255, 166, 43, .5);
    --m-blue-light: rgba(22, 105, 122, .5);
    --m-orange-light: rgba(219, 100, 0, .5);
}

html,
body {
    background-color: var(--baby-blue);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
}

div {
    box-sizing: border-box;
}

/** ********************* Utility *************************** * */

.btn {
    outline: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.sqr {
    border-radius: 2px;
}

.rnd {
    border-radius: 50%;
}

.btn-lg {
    box-shadow: 2px 2px 4px rgba(128, 128, 128, .5),
        -2px -2px 4px rgba(128, 128, 128, .5);
    font-family: 'Montserrat';
    font-size: 3rem;
    height: 60px;
    width: 60px;
}

.btn-sm {
    font-size: 1rem;
}

.clr-bg {
    color: var(--blue-gray-light);
    background-color: transparent;
}

.bl-bg {
    color: var(--m-light);
    background-color: var(--blue-gray);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/** ******************* List Components ******************* * */

.container {
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(128, 128, 128, .5),
        -1px -1px 3px rgba(128, 128, 128, .5);
    margin: 60px auto 20px;
    padding: 0 0 20px;
    width: 400px;
}

.main-header {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-family: 'Montserrat';
    padding: 20px 0 10px;
    width: 100%;
}

.main-header h1 {
    font-size: 2rem;
    font-weight: 200;
    opacity: 0.9;
}

.main-header p {
    border: none;
    color: var(--m-light);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.5;
    padding: 10px 0px 0px;
    width: 100%;
}

.main-list {
    max-height: 400px;
    margin-top: 2px;
    overflow-y: hidden;
    padding: 20px 0;
    text-align: left;
    width: 100%;
}

.main-list:hover {
    overflow-y: overlay;
}

.main-list::-webkit-scrollbar {
    width: 8px;
}

.main-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(22, 105, 122, .2);
}

.main-list::-webkit-scrollbar-thumb {
    background: rgba(88, 133, 175, .5);
}

.main-list::-webkit-scrollbar-thumb:hover {
    background: rgba(88, 133, 175, .7);
}

.list-item {
    border-bottom: 1px solid #e3dede;
    display: flex;
    flex-direction: column;
    margin: 2px auto;
    padding: 0 20px;
    width: 100%;
}

.list-item-p {
    color: var(--blue-gray);
    font-weight: 400;
    margin: 10px 0;
    width: 100%;
    word-break: break-all;
}

.list-item-action {
    display: flex;
    height: 30px;
    justify-content: space-between;
    margin: 10px 0 10px 2px;
    width: 40px;
}

.add-item-box {
    align-items: center;
    border-bottom: 1px solid #e3dede;
    border-top: 0px solid #e3dede;
    display: flex;
    height: 80px;
    margin-top: 2px;
    width: 100%;
}

.main-input {
    background-color: transparent;
    border: none;
    color: var(--blue-gray);
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    outline: none;
    text-align: center;
    width: calc(90% - 80px);
}

.main-input::placeholder {
    color: darkgray;
}


/** ************************* JS-Controlled-Styles *************************** * */

.fade {
    opacity: .7;
    text-decoration: line-through;
}

.ticked:hover {
    color: var(--blue-gray);
}

.top-shadow {
    box-shadow: 0px -2px 3px rgba(128, 128, 128, .3);
    z-index: 1;
}

.bottom-shadow {
    box-shadow: 0px 2px 3px rgba(128, 128, 128, .5);
    z-index: 1;
}


/** ****************** Media Queries ********************* * */

@media only screen and (max-width: 768px) {

    html,
    body {
        background-color: whitesmoke;
    }

    .container {
        box-shadow: none;
        border-radius: 0;
        margin: 0;

        min-width: 280px;
        width: 100%;
    }

    .main-header {
        border-radius: 0;
    }

    .main-list {
        overflow-y: overlay;
    }
}