* {
    margin: 0;
    padding: 0;
}

:root {
    --m-yellow: #ffa62b;
    --m-orange: #db6400;
    --m-blue: #16697a;
    --m-light: #f8f1f1;
    --m-yellow-light: rgba(255, 166, 43, .5);
    --m-blue-light: rgba(22, 105, 122, .5);
    --m-orange-light: rgba(219, 100, 0, .5);
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    text-align: center;
    background-color: var(--m-yellow);
}

div {
    box-sizing: border-box;
}

/** ********************* Utility *************************** * */

.btn {
    outline: none;
    border: none;
}

.btn:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.sqr {
    border-radius: 2px;
}

.rnd {
    border-radius: 50%;
}

.btn-lg {
    box-shadow: 2px 2px 4px rgba(128, 128, 128, .5),
        -2px -2px 4px rgba(128, 128, 128, .5);
    font-size: 3rem;
    height: 60px;
    width: 60px;
}

.btn-sm {
    border: 1px solid rgba(22, 105, 122, .2);
    font-size: 1rem;
    height: 30px;
    width: 30px;
}

.lt-bg {
    color: rgba(22, 105, 122, .7);
    background-color: var(--m-light);
}

.yl-bg {
    color: var(--m-light);
    background-color: var(--m-yellow);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/** ******************* List Components ******************* * */

.container {
    background: var(--m-light);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(128, 128, 128, .5),
        -1px -1px 3px rgba(128, 128, 128, .5);
    margin: 100px auto;
    width: 500px;
}

.main-header {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-family: 'Roboto';
    padding: 10px 0 5px;
    width: 100%;
}

.main-header h1 {
    font-size: 3rem;
    font-weight: 100;
}

.main-header p {
    border: none;
    color: var(--m-light);
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.5;
    padding: 10px 0px 0px;
    width: 100%;
}

.main-list {
    max-height: 400px;
    margin-top: 2px;
    overflow-y: hidden;
    padding: 20px 0;
    text-align: left;
    width: 100%;
}

.main-list:hover {
    overflow-y: overlay;
}

.main-list::-webkit-scrollbar {
    width: 8px;
}

.main-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(22, 105, 122, .2);
}

.main-list::-webkit-scrollbar-thumb {
    background: var(--m-yellow-light);
}

.main-list::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 166, 43, .7);
}

.list-item {
    border-bottom: 1px solid rgba(22, 105, 122, .1);
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    padding: 20px 0;
    width: 90%;
}

.list-item-p {
    color: var(--m-blue);
    font-weight: 500;
    width: calc(100% - 90px);
    word-break: break-all;
}

.list-item-action {
    display: flex;
    height: 30px;
    justify-content: space-between;
    width: 64px;
}

.add-item-box {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-top: 2px;
    padding: 20px 0;
    width: 100%;
}

.main-input {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(39, 111, 126, 0.1);
    color: var(--m-blue);
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;
    height: 60px;
    text-align: center;
    width: calc(90% - 80px);
}

.main-input::placeholder {
    color: var(--m-blue-light);
}


/** ************************* JS-Controlled-Styles *************************** * */

.fade {
    opacity: 0.4;
    text-decoration: line-through;
}

.ticked {
    background-color: var(--m-blue-light);
    color: var(--m-light);
    border: none;
}

.top-shadow {
    box-shadow: 0px -2px 3px rgba(128, 128, 128, .3);
    z-index: 1;
}

.bottom-shadow {
    box-shadow: 0px 2px 3px rgba(128, 128, 128, .5);
    z-index: 1;
}


/** ****************** Media Queries ********************* * */

@media only screen and (max-width: 768px) {
    .container {
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        width: 100%;
        min-width: 280px;
    }

    .main-header {
        border-radius: 0;
    }

    .main-list {
        overflow-y: overlay;
    }
}